.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 3rem;
}

.card-cuisine img {
    width: 100%;
}

.card-cuisine a {
    text-decoration: none;
}

.card-cuisine h4 {
    text-align: center;
    padding: 1rem;
}