.list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #294909;
    min-height: 8rem;
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 50%;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 30px;
    margin: 15px;
}

.link a:visited{
    color: #ffffff;
}
