.list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #294909;
    min-height: 8rem;
    gap: 1rem;
}
.capsule-tag {
    width: min-content;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 0.8rem;
}

.capsule-tag a:visited{
    color: #ffffff;
}

.capsule-tag:hover{
    color: #294909;
    background-color: white;
}
