#name {
	border-style: solid;
	border-color: black;
	border-radius: 5px;
	border-width: 1.5px;
	margin-bottom: 10px;
}
#comment {
	border-style: solid;
	border-color: black;
	border-radius: 5px;
	border-width: 1.5px;
	margin-bottom: 10px;
}
