.singlePage-container {
	width: 100%;
	max-width: 150ch;
	margin: auto;
	padding: 2rem;
	background-color: #f2fee7;
}

.singlePage-containerTop{
	display: flex;
	justify-content: space-between;
}
.recipe-intro {
	width: 100%;
	margin-right: 1rem;
}
.recipe-heading {
	display:grid;
	gap:1rem;
	grid-template-columns: repeat(2,1fr);
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4rem;
}
.recipe-heading h1 {
	color: #172D01;
}
.recipe-heading span {
	margin-left: auto;
}
.recipe-intro p {
	max-width: 24ch;
}

.recipe-image img{
	min-width: 100%;
	max-width: 900px;
	
}

.comments {
	background-color: #f2fee7;
	padding: 10px;
}
.post p {
	display: flex;
	justify-content: center;
}
.post input {
	display: flex;
	justify-content: center;
}